<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QMS.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="FtmsEntities" connectionString="00Ujf/Hvo/vrSZ6pLdYnxqYVPk9XvwX4J79Rd+YSHQSp+uwHlExSiWHczvJCfghphMSYry9SIv8/7CFj7vJ5DSfL+svxTvbwGfAOyvhfwsvnVISGrpHxFmDSwZdnNIPFH7czZky0hy9DW9a9SVmz6S1zh28ixCl01UiCDSN8qp9ms0OOhRCEsON0AN4Dql0MD6+mqpwmRrl+JVuYPcqPnZQx7jneCT6zPTf2VbubIvhMh08et1qgiSZ64g0X/1c2qRMGRs212/M96+zN48S6Zt1uB3QxYSSTQzUfItJrwIZvP/ypn63vH45jFafAgVfU02s4qAvYcR42riCiOnmKKS4RC4H9SyM7wDgRR9CY8vrxEyJAWrWVSHc2R95GLqiUHRsfaFI/MjIRaOkEz6P/bCqsHDxWQS2Qyy/p0GrLlT4rPO7gUpfCwCL+dYcQ+hBPG3m6ue15wcOvH+yWhPggbz8iRWQX9J427etl5r3UtcedJWNsC03ajKTYJKQPOrOO" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <QMS.GUI.Properties.Settings>
      <setting name="region_code" serializeAs="String">
        <value>kaduna</value>
      </setting>
      <setting name="printer_name" serializeAs="String">
        <value>POS-80C</value>
      </setting>
      <setting name="voices" serializeAs="String">
        <value>Microsoft Anna</value>
      </setting>
      <setting name="voice_rate" serializeAs="String">
        <value>-2</value>
      </setting>
      <setting name="voice_volume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="test_voice" serializeAs="String">
        <value>Welcome To Queue Management System</value>
      </setting>
      <setting name="testmode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="video_path" serializeAs="String">
        <value>C:\QMS Videos</value>
      </setting>
      <setting name="header_fontSize" serializeAs="String">
        <value>23.0</value>
      </setting>
    </QMS.GUI.Properties.Settings>
  </userSettings>
</configuration>
